# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Local development settings
local_settings.py

# IDE specific files
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Miscellaneous
.DS_Store
