@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a9a9a9;
}


h2{
  font-weight: bold;
  padding: 0.3rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start header section css*/
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.header ul li {
  float: left;
}

.header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.header ul li a:hover {
  background-color: #111111;
}
/* end header section css*/

.blink {
  background-color: white;
  -webkit-animation: blink 800ms step-end infinite;
          animation: blink 800ms step-end infinite;
}
@-webkit-keyframes blink { 50% { background-color: rgb(255, 154, 154); color: white !important; }}
      @keyframes blink { 50% { background-color: rgb(255, 154, 154); ; color: white !important; }}

.datetime{
  float: right !important;
  color: white;
}

.card{
  padding: 10px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}